:root {
  --color: #333;

  --bg-color-header: #363e8b;
  --bg-color-main: #f6ffad;
  --bg-color-nav: #ccd392;
  --bg-color-card: #fff;

  --color-btn-toggle: #2f855a;
  --bg-color-btn-toggle: #c6f6d5;

  --color-btn-logout: #c53030;
  --bg-color-btn-logout: #fed7d7;

  --color-btn-submit: #2b6cb0;
  --bg-color-btn-submit: #bee3f8;

  --color-tag: #c05621;
  --bg-color-tag: #feebc8;
}
