/********** GENERAL **********/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  font-size: 112.5%;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  background-color: #333;
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

a,
button {
  cursor: pointer;
}

.app {
  height: 100%;
  margin: auto;
  max-width: 450px;
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 60px;
  background-color: #fff;
}

/********** header **********/
.header {
  display: grid;
  place-items: center;
  background-color: #aaa;
}

/********** main **********/
.main {
  padding: 20px;
}
.quiz {
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.bookmark-img {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: -10px;
  width: 24px;
}

.question {
  width: 100%;
}
/********** Footer **********/
.footer {
  background-color: #aaa;
}
.nav {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.nav-link {
  display: grid;
  place-items: center;
  padding: 5px;
}

.nav-img {
  width: 50%;
  min-width: 30px;
  max-width: 40px;
}
