.card {
  position: relative;
  padding: 15px;
  background: var(--bg-color-card);
  border: 1px solid var(--border-color-card)
}

.card__bookmark {
  position: absolute;
  z-index: 9;
  right: 12px;
  top: -16px;
  width: 44px;
}

.marked.card__bookmark .svg__path{
  fill: var(--bg-color-header);
}

.card__label {
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.card__group--answer {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}