.card-grid {
  max-width: 100%;
  display: grid;
  align-content: start;
  gap: 30px;
  padding: 30px 20px;
}

.card {
  position: relative;
  padding: 15px;
  background: var(--bg-color-card);
}

.card__svg {
  position: absolute;
  z-index: 9;
  right: 12px;
  top: -16px;
  width: 44px;
}

.card__checkbox {
  display: none;
}

.card__bookmark--1:checked ~ .card__svg .svg__path {
  fill: var(--bg-color-header);
}

.card__label {
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.card__group--answer {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.card__button--1:checked ~ .card__group--answer {
  opacity: 1;
}
