.header {
  display: grid;
  place-items: center;
  background-color: var(--bg-color-header);
}

.header__title {
  font-family: 'Bangers', cursive;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color-header)
}
