.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.nav a {
  display: grid;
  place-items: center;
  padding: 5px;
}

a.active {
  pointer-events: none;
}

svg {
  width: 40%;
}

.active .svg-path {
  fill: var(--color-active);
}
