.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.nav__btn {
  background-color: transparent;
  border: 0;
}

.nav__btn.active {
  pointer-events: none;
}

.nav__btn svg {
  width: 40px;
}

.nav__btn .svg-path {
  fill: var(--color-nav-link);
}

.nav__btn.active .svg-path {
  fill: var(--color-nav-link-active);
}

