.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.nav__link {
  display: grid;
  place-items: center;
  padding: 5px;
}

.nav__link.active {
  pointer-events: none;
}

.nav__link svg {
  width: 40%;
}

.nav__svg-path {
  fill: var(--color-nav-link);
}

.nav__svg-path.active {
  fill: var(--color-nav-link-active);
}
