.profile__grid {
  padding-top: 20px;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 128px;
}

.profile__img-container {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
}
.profile__img {
  width: 125%;
}

.profile__name {
  font-size: 1.5rem;
  font-weight: bold;
}
