.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--bg-color-nav);
}

.nav a {
  display: grid;
  place-items: center;
  padding: 5px;
}

.nav__link {
}

.nav-img {
  width: 50%;
  width: 30px;
}

.active {
  pointer-events: none;
  background-color: var(--bg-color-main);
}
