.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.nav a {
  background-color: var(--bg-color-nav);
  display: grid;
  place-items: center;
  padding: 5px;
}

.nav-img {
  width: 50%;
  width: 30px;
}

a.active {
  pointer-events: none;
  background-color: transparent;
}
